body,html
{
	padding: 0px;
	margin: 0px;
	font-size: 73.33%;
	color:#333;
	background: rgb(50,50,50);
	font-family: 'Roboto', 'sans-serif' !important;
}
body.admin {
	  background: rgb(255, 255, 255);
}
.footer
{
	width: 100%;
  	margin: 0px;
  	min-height: 100px;
  	display: table;
}
.footer > div 
{
	float: none;
	display: table-cell;
	vertical-align: middle;
}
.footer > div > p
{
	text-align: left;
}
#about,
#contact,
#news,
#project,
#redes
{
	min-height: 100%;
}

#about
{
	background-image:url('../images/textura-01.jpg');
	background-attachment: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#agency
{
	background-image:url('../images/textura_logo-01.jpg');
	background-attachment: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#banda
{
	height:130px;
	width: 100%;
	margin-top: 2em;
	background: rgb(50,50,50);
	margin-left: 0px !important;
}
#bot
{
	height: 25%;
}

#cont_servicios
{
	padding-left: 10%;
}
#contact
{
	background-color: #C7C7C6;
}
#container
{
	background-color: rgba(0,0,0,0.9);
}

#face
{
	background: url('../images/facebook-01.png');
	background-size: 100% 100%; 
}

#gplu
{
	background: url('../images/google mas-01.png');
	background-size: 100% 100%;
}

#mid
{
	height: 50%;

}
#mini_gif
{
	width: 100%;
	background: rgb(50,50,50);
	margin-top: 2em;
	
	top: 41px;
	position: relative;
}
#mini_gif img
{
	display: block;
	margin: 0 auto;
	width: 50%;
}
#news
{
	padding-bottom: 4em;
}
#pagina_aparte
{
	background-size: 100%;
	min-height: 500px;
}
#project
{
	background-color: #21A4B1;
	padding-bottom: 4em;
}

#top
{
	height: 25%;
}

#text
{
	padding: 1em 1em 2em 2em;
	background-color: rgba(255,255,255,0.6);
	border-radius: 8px;
}
#twit
{
	background: url('../images/twitter-01.png');
	background-size: 100% 100%;
}
.about1
{
	text-align: justify;
	color: #333;
}
.active
{
	background-image: linear-gradient(to bottom, rgba(219, 219, 219, 0) 0px, rgba(226, 226, 226, 0) 100%);
	background-repeat: repeat-x;
	box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.0) inset;
	color: white !important;
}
.adminlayout {
	margin-top: 2em;
}
.banner img
{
	width: 100%;
}
.bloque
{
	min-height: 100px;
}
.btn-flat
{
	margin-top: 0;
	margin-bottom: 0;
}
.clear
{
	background: rgb(50,50,50);
	box-shadow: 0px 2px 0px 0px #000;
	color: white;
}
.clear:hover
{
	background: #23A7B5;
	color: white;
}
.collapse-navigation img
{
	height: 81px;
}
.collapse-navigation .table-cell
{
	color: black;
}
.container
{
	width: 90%;
}
.contAboutUs
{
	  max-width: 1020px;
	  margin: 0 auto;
	  display: block;
	  float: none;
}
.contAboutUs > div > p
{
	text-align: justify;
}
.contCentrado {
	float: none;
	display: block;
	margin: 0 auto;
}
.contdeColor {
	border: 1px solid black;
	border-radius: 8px;
	padding: 2em;
}
.contenedorTextoAgencia
{
	float: right;
	padding: 0px;
	display: inline-block;
	vertical-align: top;
	text-align: justify;
}
.contenedorGrande
{
	width: 100%;
	margin: 0px;
}
.contSlider
{
	width: 32.33333%;
}
.cont_titulo_about img
{
	margin-top: 5em;
	width: 100%;
	min-width: 200px;
	margin-bottom: 5em;
}
.cont_titulo_contact img
{
	margin-top: 3em;
	width: 100%;
	min-width: 300px;
	margin-bottom: 5em;
}
.cont_titulo_serv,.cont_titulo_about,.cont_titulo_news,.cont_titulo_contact
{
	float: none;
	display: block;
	margin: 3em auto;
	min-width: 200px;
}
.cont_titulo_news img
{
	margin-top: 3em;
	width: 100%;
	min-width: 200px;
	margin-bottom: 5em;
}
.cont_titulo_serv img
{
	margin-top: 3em;
	width: 100%;
	min-width: 200px;
}
.contText
{
	padding-left: 5em;
}
.contLoading
{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 100;
}
.cont_palabra
{
	color: white;
}
.contLogo
{
	padding: 0.5em;
}
.cpy
{
	color:white;

	text-align: center;
}
.formInput
{
	margin-bottom: 1em;
}
.formInput::-webkit-input-placeholder { color: #333; }
.formInput:-moz-placeholder { color: #333; opacity: 1; }
.formInput::-moz-placeholder { color: #333; opacity: 1; }
.formInput:-ms-input-placeholder { color: #333; }

.header
{
	background-color: rgb(199,199,198);
	position: fixed;
	width: 100%;
	max-height: 100px;
	margin: 0px !important;
	z-index: 5;
}
.h_titulo
{
	font-size: 5.5em !important;
	color: white;
	text-align: left !important;
	text-shadow: 0px 0px 1px black;
	
}
.img1
{
	display: none;
}
.img
{
	display: none;
}
.info
{
	list-style: none;
	padding-left: 0px !important;
}
.info > li > a,.info > li >p > a
{
	color: white;
	text-decoration: none;
}
.info_titulo > a
{
	color: white;
}
.letra
{
	display: inline-block;
	padding: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	cursor:pointer;
	color: rgb(33,163,177);
	font-size: 3em;
	margin-right: 0.2em;
}
.loadIma
{
	width: 100px;
	height: 100px !important;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}
.logo
{
	height: 100%;
	  -webkit-transform: translateY(-15%);
	     -moz-transform: translateY(-15%);
	      -ms-transform: translateY(-15%);
	       -o-transform: translateY(-15%);
	          transform: translateY(-15%);
}
.logo2 {
	width: 100%;
}
.logo-active {
	display: block;  	
  	-webkit-transform: translateY(0%);
	     -moz-transform: translateY(0%);
	      -ms-transform: translateY(0%);
	       -o-transform: translateY(0%);
	          transform: translateY(0%);
}
.loading
{
	width: 50px;
	height: 50px;
	display: inline-block;
}
.loadingInBlack
{
	width: 100px;
	height: 100px;
	top: 50%;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
			-o-transform: translate(-50%,-50%);
				-ms-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
}
.nav-active {
	position: fixed !important;
 	width: 100%;
 	height: 75px !important;
  	top: 0;
}
.navbar-default
{
	background-color: transparent;
	background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0,rgba(248, 248, 248, 0) 100%);
	border-color: transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0),0 1px 5px rgba(0,0,0,0);
	display: inline;
	vertical-align: middle;
}
.navbar-nav
{
	width: 100%;
	float: none;
	display: block;
	margin: 0 auto;
	background-color: transparent;
}
.navbar-nav > li
{
	width: 20%;
}
.navbar-nav > .active > a{
    color: #000;
    background-image: linear-gradient(to bottom, rgba(219, 219, 219, 0) 0px, rgba(226, 226, 226, 0) 100%) !important;
    background-color: rgba(231, 231, 231, 0) !important;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0) inset !important;
}
.navbar-nav > li > a > h4
{
	color: black;
	text-align: center;
	font-size: 1.7em;
}
.navbar-nav > li > a > h5
{
	color: black;
	text-align: center;
	font-size: 1.4em;
}
.newsPics
{
	height: 419px !important;
	overflow: hidden;
	
	margin-bottom: 1em;
}
.margen
{
	margin-bottom: 5em;
}

@media(max-width: 991px){

	#about,
	#contact,
	#news,
	#project
	{
		background-attachment: initial !important;
	}
	.logo
	{
		margin-top: 0px;
	}
	
	.navbar-nav > li{

		font-size: 0.8em;

		width:20%;
	}
	.caricatura, 
	.slider
	{
		display: none !important;
		opacity: 0 !important;
	}
}
@media(max-width: 768px){
	.navbar-nav
	{
		z-index: 100;
		background-color: rgb(199, 199, 198);
		margin-left: 0px;
		width: 100%;
	}
	.navbar-nav > li{

		font-size: 0.8em;
		text-align: center;
		width:100%;
	}
	.textoServicios > h3
	{
		font-size: 2em;
	}
	.textoServicios > p
	{
		font-size: 1em;
	}
	.contMitad
	{
		width: 100% !important;
	}
}
@media(max-width: 676px){
	#cont_servicios
	{
		padding-left: 0px;
	}
	#redes
	{
		width: 100%;
	}
	#twitter-widget-0
	{
		display: block !important;
		margin: 0 auto !important;
	}
	.contAbout1
	{
		width: 100% !important;
	}
	.contactusBot
	{
		width: 100% !important;
	}
	.container
	{
		width: 100% !important;
	}
	.contCatalogo
	{
		margin: 2em auto;
		display: block;
		float: none;
		text-align: center;
	}
	.contText
	{
		padding-left: 0px !important;
	}
	.cont_titulo_serv,.cont_titulo_about,.cont_titulo_news,.cont_titulo_contact
	{
		width: 100% !important;
	}
	.contenedorBot
	{
		width: 100%;
		text-align: center;
		color: white;
	}
	.contNewsPics
	{
		width: 100% !important;
	}
	.contSlider
	{
		width: 100%;
	}
	.info
	{
		list-style: none;
	}
	.info > li > a,.info > li >p > a
	{
		color: white;
		text-decoration: none;
	}
	.letra
	{
		font-size: 165%;
	}
	.refran
	{
		width: 75% !important;
	}
	.servicio
	{
		margin: 1em 1.5em !important;
		width: 40% !important;
		
	}
	.titulos
	{
		width: 100%;
		padding: 0;
	}
	.tgvnzla
	{
		font-size:1.3em;
	}
}

@media(max-width: 450px){
	.container
	{
		padding: 0px;
	}
	.collapse-navigation
	{
		height: 20% !important;
	}
	.letra
	{
		font-size: 1em !important;
	}
	.cien
	{
		width: 100%;
		display: inline-block !important;

	}
	.cien > p
	{
		margin-top: 1em; 
		text-align: center !important;
	}
	.redes_sociales
	{
		display: block !important;
		margin: 0 auto !important;
	}
	.servicio
	{
		width: 80% !important; 
	}
	.titulos
	{
		padding: 0 15px;
	}
}
.medio
{
	float: none;
	display: block;
	margin: 0 auto 5em;
}
.modalImg
{
	width: 100%;
}
.myModal
{
	display: none;
	opacity: 0;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	position: absolute;
	height: 100%;
	z-index: 10000;
	top: 0;
	left: 0;
}
.padding
{
	padding-top: 5em;
	padding-bottom: 5em;
}
.picsGall
{
	cursor: pointer;
}
.palabra
{
	margin:0 0 3px !important;
	opacity: 0;
}

.responseAlert
{
	display: none;
	opacity: 0;
}

.red
{
	font-size: 4em;
}
.redes
{
	min-height: 300px;
	background: green;
	left: 80%;
	-webkit-transform: translateX(-80%);
	text-align: center;
}
.redMarco
{
	display: inline-block;
	padding: 0.5em;
	border-radius: 8px;
	background: white;
	color: green;
}
.row
{
	margin-right: 0px !important;
	margin-left: 0px !important;
}
.send
{
	background: rgb(50,50,50);
	box-shadow: 0px 2px 0px 0px #000;
	color: white;
}
.send:hover
{
	background: #23A7B5;
	color: white;
}
.servicio
{
	display: inline-block;
	margin: 1em 1em;
	width: 30.33%;
	background-size: 100% 100%;
	color: black;
	vertical-align: top;
}
.servicio img
{
	width: 100%;
}
.servicio_1
{
	background-image: url(../images/fondo10-01.png); 
	background-attachment: fixed;
}
.servicio_2
{
	background-image: url(../images/fondo20-01.png); 
	background-attachment: fixed;
}
.servicio_3
{
	background-image: url(../images/fondo30-01.png); 
	background-attachment: fixed;
}
.servicio_4
{
	background-image: url(../images/fondo40-01.png); 
	background-attachment: fixed;
}
.servicio_5
{
	background-image: url(../images/fondo50-01.png); 
	background-attachment: fixed;
}
.servicio_6
{
	background-image: url(../images/fondo60-01.png); 
	background-attachment: fixed;
}
.serviciosText
{
	-webkit-text-shadow: -1px 1px black;
	-moz-text-shadow: -1px 1px black;
	-o-text-shadow: -1px 1px black;
	-ms-text-shadow: -1px 1px black;
	text-shadow: -1px 1px black;
	color:white;
}

.serv_mini
{
	color: white;
	text-decoration: none;
	font-weight: 700;
}
.serv_mini:hover,.serv_mini:focus
{
	color: white;
	text-decoration: none;
}
.slick-slide img
{
	display: block;
	margin: 0 auto;
}
.slick-prev
{
	left: 0;
}
.slick-next
{
	right: 0;
}
.slider {
	width: 100%;
	height: 457px;
}
.sliderPrinc
{
	  position: initial;
	  float: none;
	  display: inline-block;
	  vertical-align: middle;
	  top: 0;
	  -webkit-transform: translateY(0);
	     -moz-transform: translateY(0);
	      -ms-transform: translateY(0);
	       -o-transform: translateY(0);
	          transform: translateY(0);
}
.subtitulo-active {
	display: none;
}
.textoBlanco
{
	color: white;
	text-align: center;
}
.textoPromedio
{
	font-size: 1.5em;
}
.textoGrande
{
	font-size: 2em;
}
.textoMedio
{
	font-size: 1em;
}
.textoServicios
{
	text-align: justify;
	
}
.textLeft
{
	text-align: left;
}
.textMid
{
	text-align: center;
}
.textRight
{
	text-align: right;
}

.tgvnzla
{
	font-size:1.5em;
}
.titPort{
	text-align: center;
}
.titPort a 
{
	color: white;
}
.titulos
{
	text-align: center;
}

.titulos > h1
{
	font-size: 5em;
}
.twitter-widget-0
{
	width: 100% !important;
}
.ulContact
{
	list-style: none;
}
.ulContact li 
{
	font-size: 1.5em;
}

/*---------------Index--------------*/
.bodyservice
{
	padding-top: 7%;
}
.clear, .send {
	box-shadow: 0 1px 0 0;
}
.btn-ini
{
	float: left;
}
.btn-serv
{
	float: right;
	margin: 0 0.5em;
}
.ulContact > li:not(.btn-ini)
{
	margin: 1em 0;
}
#cd-intro{
	height: 85% !important;
	background: url(../images/banner.gif) no-repeat center center !important;
  	background-size: cover;
}
.servicenav
{
	background-color: rgb(50,50,50) !important;
	position: fixed !important;
	width: 100%;
	top: 0;
}

.cd-secondary-nav li a {
  padding: 2em 3em !important;
}
.cd-secondary-nav ul {
  position: fixed;
  right: 5%;
  bottom: 20px;
  visibility: hidden;
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);

  transform-origin: 100% 0% !important;
  transition: transform 0.3s, visibility 0s 0.3s;
}
.cd-secondary-nav ul.is-visible {
  visibility: visible;
  transform: scale(1);
  transition: transform 0.3s, visibility 0s 0s;
}
 
@media only screen and (min-width: 911px) {
  .cd-secondary-nav ul {
    /* reset navigation values */
    position: static;
    width: auto;
    max-width: 100%;
    visibility: visible;
    transform: scale(1);
  }
}
 
.cd-secondary-nav-trigger {
	position: fixed;
	bottom: 20px;
	right: 5%;
	width: 44px;
	height: 44px;
}
@media only screen and (min-width: 991px) {
  .cd-secondary-nav-trigger {
    display: none;
  }
}
@media only screen and (min-width: 911px) {
  .cd-secondary-nav.is-fixed {
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
  }
  .cd-secondary-nav li a {
    padding: 58px 40px 0 40px;
    transition: padding 0.2s;
  }
  .cd-secondary-nav li a span {
    transition: opacity 0.2s;
  }
  .cd-secondary-nav.animate-children li a {
    padding: 26px 30px 0 30px;
  }
  .cd-secondary-nav.animate-children li a span {
    opacity: 0;
  }
}
@media only screen and (min-width: 911px) {
  #cd-logo.is-hidden {
    /* assign a position fixed and move outside the viewport (on the left) */
    opacity: 0;
    position: fixed;
    left: -20%;
    transition: left 0.3s, opacity 0.3s;
  }
  #cd-logo.is-hidden.slide-in {
    /* slide in when the secondary navigation gets fixed */
    left: 5%;
    opacity: 1;
  }
 
  .cd-btn.is-hidden {
    /* assign a position fixed and move outside the viewport (on the right) */
    opacity: 0;
    position: fixed;
    right: -20%;
    transition: right 0.3s, opacity 0.3s;
  }
  .cd-btn.is-hidden.slide-in {
    /* slide in when the secondary nav gets fixed */
    right: 5%;
    opacity: 1;
  }
}


.collapse-navigation
{
	display: none;
}
.tgvnzlaTitulo{
	display: none;
}
.collapse-navigation-service
{
	display: none;
}
.Movil
{
	display: none;
}
.noMovil
{
	display: block;
}
@media (max-width: 990px) {
	.Movil
	{
		display: block;
	}
	.Movil > .is-visible 
	{
		padding-left: 0px;
		list-style: none;
	}
	.noMovil
	{
		display: none;
	}
	.btn-ini,.btn-serv
	{
		float: none;
	}
	
	.caretfa
	{
		font-size: 5em;
		font-weight: 500;
		float: none;
		display: inline-block;
		right: 10%;
		position: absolute;
	}
	.collapse-navigation-service
	{
		height: 25%;
		width: 	100%;
		cursor: pointer;
		display: block;
	}
	.collapse-navigation-service > .col-xs-3
	{
		height: 100%
	}
	.collapse-navigation-service > .col-xs-3 > img
	{
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
		   -moz-transform: translate(-50%,-50%);
		    -ms-transform: translate(-50%,-50%);
		     -o-transform: translate(-50%,-50%);
		        transform: translate(-50%,-50%);
	}
	.collapse-navigation-service > .col-xs-9
	{
		float: none;
		display: table;
		height: 100%;
	}
	.collapse-navigation-service > .col-xs-9 > .table-cell
	{
		display: table-cell;
		float: none;
		vertical-align: middle;
		text-align: left;
		color: white;
		text-shadow:-1px 1px black;
	}
	.collapse-navigation-service > .col-xs-9 > .table-cell > h3
	{
		display: inline-block;
	}
	#collapse-diseno-web{
		background-color: #0DB900;
	}
	#collapse-medios-impresos{
		background-color: #FF8129;
	}
	#collapse-imagen-corporativa{
		background-color: #F30000;
	}
	#collapse-fotografia{
		background-color: #0DB900;
	}
	#collapse-sistema-administrativo{
		background-color: #2200E4;
	}
	#collapse-pub-exterior{
		background-color: #21A4B1;
	}
	.ulContact > li.btn
	{
		float: none;
	}
	.navicon
	{
		font-size: 4em;
		top: 50%;
		left: 50%;
		position: absolute;
		color: white;
		-webkit-transform: translate(-50%,-50%);
		   -moz-transform: translate(-50%,-50%);
		    -ms-transform: translate(-50%,-50%);
		     -o-transform: translate(-50%,-50%);
		        transform: translate(-50%,-50%);
		-webkit-transition: all .25s ease-in-out;
		   -moz-transition: all .25s ease-in-out;
		    -ms-transition: all .25s ease-in-out;
		     -o-transition: all .25s ease-in-out;
		        transition: all .25s ease-in-out;

	}
	.navicon-in
	{
		-webkit-transform: translate(-50%,-50%) rotate(90deg);
		   -moz-transform: translate(-50%,-50%) rotate(90deg);
		    -ms-transform: translate(-50%,-50%) rotate(90deg);
		     -o-transform: translate(-50%,-50%) rotate(90deg);
		        transform: translate(-50%,-50%) rotate(90deg);
		-webkit-transition: all .25s ease-in-out;
		   -moz-transition: all .25s ease-in-out;
		    -ms-transition: all .25s ease-in-out;
		     -o-transition: all .25s ease-in-out;
		        transition: all .25s ease-in-out;
	}
	#pagina_aparte
	{
		background: rgba(235,232,235,1);
background: -moz-linear-gradient(left, rgba(235,232,235,1) 0%, rgba(242,239,242,1) 5%, rgba(242,242,242,1) 18%, rgba(254,254,254,1) 50%, rgba(242,242,242,1) 82%, rgba(242,239,242,1) 95%, rgba(235,232,235,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,232,235,1)), color-stop(5%, rgba(242,239,242,1)), color-stop(18%, rgba(242,242,242,1)), color-stop(50%, rgba(254,254,254,1)), color-stop(82%, rgba(242,242,242,1)), color-stop(95%, rgba(242,239,242,1)), color-stop(100%, rgba(235,232,235,1)));
background: -webkit-linear-gradient(left, rgba(235,232,235,1) 0%, rgba(242,239,242,1) 5%, rgba(242,242,242,1) 18%, rgba(254,254,254,1) 50%, rgba(242,242,242,1) 82%, rgba(242,239,242,1) 95%, rgba(235,232,235,1) 100%);
background: -o-linear-gradient(left, rgba(235,232,235,1) 0%, rgba(242,239,242,1) 5%, rgba(242,242,242,1) 18%, rgba(254,254,254,1) 50%, rgba(242,242,242,1) 82%, rgba(242,239,242,1) 95%, rgba(235,232,235,1) 100%);
background: -ms-linear-gradient(left, rgba(235,232,235,1) 0%, rgba(242,239,242,1) 5%, rgba(242,242,242,1) 18%, rgba(254,254,254,1) 50%, rgba(242,242,242,1) 82%, rgba(242,239,242,1) 95%, rgba(235,232,235,1) 100%);
background: linear-gradient(to right, rgba(235,232,235,1) 0%, rgba(242,239,242,1) 5%, rgba(242,242,242,1) 18%, rgba(254,254,254,1) 50%, rgba(242,242,242,1) 82%, rgba(242,239,242,1) 95%, rgba(235,232,235,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe8eb', endColorstr='#ebe8eb', GradientType=1 );
	}
	#about
	{
		background: rgba(235,232,235,1);
background: -moz-linear-gradient(left, rgba(235,232,235,1) 0%, rgba(242,239,242,1) 5%, rgba(242,242,242,1) 18%, rgba(254,254,254,1) 50%, rgba(242,242,242,1) 82%, rgba(242,239,242,1) 95%, rgba(235,232,235,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,232,235,1)), color-stop(5%, rgba(242,239,242,1)), color-stop(18%, rgba(242,242,242,1)), color-stop(50%, rgba(254,254,254,1)), color-stop(82%, rgba(242,242,242,1)), color-stop(95%, rgba(242,239,242,1)), color-stop(100%, rgba(235,232,235,1)));
background: -webkit-linear-gradient(left, rgba(235,232,235,1) 0%, rgba(242,239,242,1) 5%, rgba(242,242,242,1) 18%, rgba(254,254,254,1) 50%, rgba(242,242,242,1) 82%, rgba(242,239,242,1) 95%, rgba(235,232,235,1) 100%);
background: -o-linear-gradient(left, rgba(235,232,235,1) 0%, rgba(242,239,242,1) 5%, rgba(242,242,242,1) 18%, rgba(254,254,254,1) 50%, rgba(242,242,242,1) 82%, rgba(242,239,242,1) 95%, rgba(235,232,235,1) 100%);
background: -ms-linear-gradient(left, rgba(235,232,235,1) 0%, rgba(242,239,242,1) 5%, rgba(242,242,242,1) 18%, rgba(254,254,254,1) 50%, rgba(242,242,242,1) 82%, rgba(242,239,242,1) 95%, rgba(235,232,235,1) 100%);
background: linear-gradient(to right, rgba(235,232,235,1) 0%, rgba(242,239,242,1) 5%, rgba(242,242,242,1) 18%, rgba(254,254,254,1) 50%, rgba(242,242,242,1) 82%, rgba(242,239,242,1) 95%, rgba(235,232,235,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe8eb', endColorstr='#ebe8eb', GradientType=1 );
	}
	.tgvnzlaTitulo
	{
		display: inline-block;
		text-align: center;
		width: 100%;
		padding:0;
		margin: 0;
		vertical-align: middle;
		top: 50%;
		position: absolute;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
	}
	.cd-secondary-nav
	{
		z-index: 3 !important;
		position: fixed !important;
		width: 100%;
		height: 70px;
		background-color: rgb(199, 199, 199) !important;
		top: 0;
	}
	.trigger-service
	{
		display: block !important;
	}
	.cd-secondary-nav-trigger
	{

		position: absolute !important;
		width: 10% !important;
		height: 100% !important;
		display: none;
		background: rgba(3, 13, 24, 0.96);
		top: 0;
		right: 0 !important;
		min-width: 40px;
		text-indent: 0 !important;
	}
	.cd-secondary-nav-trigger.menu-is-open
	{
		background-color: rgba(3, 13, 24, 0.96) !important;
	}
	.collapse-navigation
	{
		height: 25%;
		width: 	100%;
		cursor: pointer;
		
		display: block;
		background-color: #fff;
		/*background: rgba(235,232,235,1);
background: -moz-linear-gradient(top, rgba(235,232,235,1) 0%, rgba(242,239,242,1) 5%, rgba(242,242,242,1) 18%, rgba(254,254,254,1) 50%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,232,235,1)), color-stop(5%, rgba(242,239,242,1)), color-stop(18%, rgba(242,242,242,1)), color-stop(50%, rgba(254,254,254,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(top, rgba(235,232,235,1) 0%, rgba(242,239,242,1) 5%, rgba(242,242,242,1) 18%, rgba(254,254,254,1) 50%, rgba(254,254,254,1) 100%);
background: -o-linear-gradient(top, rgba(235,232,235,1) 0%, rgba(242,239,242,1) 5%, rgba(242,242,242,1) 18%, rgba(254,254,254,1) 50%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(top, rgba(235,232,235,1) 0%, rgba(242,239,242,1) 5%, rgba(242,242,242,1) 18%, rgba(254,254,254,1) 50%, rgba(254,254,254,1) 100%);
background: linear-gradient(to bottom, rgba(235,232,235,1) 0%, rgba(242,239,242,1) 5%, rgba(242,242,242,1) 18%, rgba(254,254,254,1) 50%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe8eb', endColorstr='#fefefe', GradientType=0 );*/
	}
	.collapse-navigation > .col-xs-9
	{
		float: none;
		display: table;
		height: 100%;
	}
	.collapse-navigation > .col-xs-9 > .table-cell
	{
		display: table-cell;
		float: none;
		vertical-align: middle;
		text-align: center;
	}
	#collapse-about > .col-xs-3
	{
		background-color: #B4C203;
		height: 100%;
		padding:0;
	}
	#collapse-project > .col-xs-3
	{
		background-color: #FF8129;
		height: 100%;
		padding:0;
	}
	#collapse-news > .col-xs-3
	{
		background-color: #F30000;
		height: 100%;
		padding:0;
	}
	#collapse-contact > .col-xs-3
	{
		background-color: #21A4B1;
		height: 100%;
		padding:0;
	}
}
.carousel
{
	position: absolute;
	width: 100%;
	z-index: 1;
}
.carousel > div
{
	width: 100%;
	position: absolute;
	-webkit-transition: all .25s linear;
	   -moz-transition: all .25s linear;
	    -ms-transition: all .25s linear;
	     -o-transition: all .25s linear;
	        transition: all .25s linear;
}
.carousel > div > img
{
	width: 100%;
	height: auto;
}
.front {
	-webkit-transform-origin: 0% 0%;
	   -moz-transform-origin: 0% 0%;
	    -ms-transform-origin: 0% 0%;
	     -o-transform-origin: 0% 0%;
	        transform-origin: 0% 0%;
	        opacity: 1;
	-webkit-animation: moves-background 100s linear 1;
	   -moz-animation: moves-background 100s linear 1;
	    -ms-animation: moves-background 100s linear 1;
	     -o-animation: moves-background 100s linear 1;
	        animation: moves-background 100s linear 1;
}
.back
{
	opacity: 0;
}


@-webkit-keyframes moves-background {
	0% { 
		-webkit-transform: scale(1);
		    -moz-transform: scale(1);
		     -ms-transform: scale(1);
		      -o-transform: scale(1);
		         transform: scale(1); 
	}
	100% {
		-webkit-transform: scale(1.5);
		     -moz-transform: scale(1.5);
		      -ms-transform: scale(1.5);
		       -o-transform: scale(1.5);
		          transform: scale(1.5);  
	}
}
@-moz-keyframes moves-background {
	0% {
		-webkit-transform: scale(1.5);
		     -moz-transform: scale(1.5);
		      -ms-transform: scale(1.5);
		       -o-transform: scale(1.5);
		          transform: scale(1.5);  
	}
	100% {
		-webkit-transform: scale(1.5);
		     -moz-transform: scale(1.5);
		      -ms-transform: scale(1.5);
		       -o-transform: scale(1.5);
		          transform: scale(1.5);
    }
}
@keyframes moves-background {
	0% {
		-webkit-transform: scale(1);
			     -moz-transform: scale(1);
			      -ms-transform: scale(1);
			       -o-transform: scale(1);
			          transform: scale(1);	  
	}
	100% {
		-webkit-transform: scale(1.5);
		   -moz-transform: scale(1.5);
		    -ms-transform: scale(1.5);
		     -o-transform: scale(1.5);
		        transform: scale(1.5);
	}
}

